@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
    
}
.footerMenu{
    text-align: center;
    color: white;
    padding: 10px;
    a{
        color: white;
        text-decoration: none;
    }
}