.Img1{
  object-fit: contain;
  height: 680px;
  width: max-content;
}
.carousel-inner{
  display: flex;
  align-items: center;
}
.ImgP{
    grid-area: ImgP;   
    text-align: center;
    border: white 5px solid;
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 3;   
}
